# vim temp files
*~
*.swp

# local specific files
local.properties

# gradle generated
.gradle/
gradle/wrapper/
gradlew*
build.gradle
gradle.properties
settings.gradle

# Android Studio (Idea) configs & temp files
.idea/
*.iml

# build files
build/

# misc
app/proguard-rules.pro
